
body{
  background-color: #4D1B2F;
  font-family: "Alef";
}





/*name and address*/

header {
  background-color: #EB6528;
  border-radius: 10px;
}
h1 {
  text-align: left;
  font-size: 50px;
  margin: 20px 20px 20px 0px;
}

div div {
  font-size: 20px;
  
}



/*skills and education*/

article {
  background-color: #9E332E;
  border-radius: 10px;
}

section h2 {
  font-size: 30px;
}

section li {
  font-size: 20px
}

.ewu {
  font-size: 20px;
}


/*experience*/

footer {
  background-color: #FFCA50;
  border-radius: 10px;

}

footer li{
  font-size: 20px;
  magin:20px;
}

.experience {
  font-size: 30px;
}


footer h3 {
  font-size: 20px;
}


 footer div {
  margin-top: 100px;
}